@charset "utf-8";

//font size
$default_font_size:13px;

//font color
$default_color:#333;

//line height
$default_line_height:1.6;

//link colors
$default_link_color:#2196F3;
$default_link_hover_color:darken(#2196F3,15%);
