@charset "utf-8";

//colors
$default:#FFF;
$primary:#2979FF;
$secondary:#ccc;
$info:#ccc;
$error:#D90000;

//classes
$colors: (
	default:#FFF,
	primary:#2979FF,
	secondary:#ccc,
	// info:#ccc,
	error:#D90000,
);