@charset "utf-8";

$ja_go:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_go-8:"游ゴシック","YuGothic",'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_min: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝B', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$ja_maru: 'ヒラギノ丸ゴ Pro W4','Hiragino maru Gothic Pro','HG丸ｺﾞｼｯｸM-PRO','Verdana','Osaka',sans-serif;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto',"游ゴシック","YuGothic", sans-serif;
$cabin: 'Cabin', sans-serif;
$lora: 'Lora', serif;
